<div class="row my-5">
  <div class="col-md-4">
    <img [src]="baseImgUrl + movie.poster_path" class="w-100" alt="" />
  </div>
  <div class="col-md-8">
    <h2 *ngIf="movie.original_title">{{ movie.original_title }}</h2>
    <h2 *ngIf="movie.name">{{ movie.name }}</h2>
    <p class="py-3 lh-lg">{{ movie.overview }}</p>
    <ul class="py-3 lh-lg">
      <li class="py-3">popularity : {{ movie.popularity }}</li>
      <li class="py-3">vote-average : {{ movie.vote_average }}</li>
      <li class="py-3">vote-count : {{ movie.vote_count }}</li>
    </ul>
    <div class="d-flex justify-content-between">
      <button class=" btn btn-outline-success text-capitalize">
        download
      </button>
      <button class=" btn btn-outline-primary text-capitalize">
        watch
      </button>
      <!-- <div class="clear-fix"></div> -->
    </div>
  </div>
</div>
<ngx-spinner
  type="ball-scale-multiple"
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />"
></ngx-spinner>
