<div class="register-form py-5 w-75 m-auto">
  <div *ngIf="errormessage" class="alert alert-danger">{{ errormessage }}</div>
  <h1 class="text-capitalize">registeration form</h1>
  <form [formGroup]="registerform" (ngSubmit)="submitform()">
    <!-- relate this form to the typescript -->
    <!-- formgroup is a directive -->
    <!-- ngsubmit is the eventbinding -->
    <div class="my-3">
      <label> First Name :</label>
      <input
        formControlName="first_name"
        type="text"
        class="form-control my-3"
        placeholder="yousef"
      />
      <div
        *ngIf="first_name?.invalid && first_name?.touched"
        class="text-danger"
      >
        <p class="text-danger" *ngIf="first_name?.errors?.required">
          the name is required
        </p>
        <p class="text-danger" *ngIf="first_name?.errors?.minlength">
          the name is less than 3 letters
        </p>
        <p class="text-danger" *ngIf="first_name?.errors?.maxlength">
          the name is more than 10 letters
        </p>
      </div>
    </div>
    <div class="my-3">
      <label> Last Name :</label>
      <input
        formControlName="last_name"
        type="text"
        class="form-control my-3"
        placeholder="osama"
      />
      <div *ngIf="last_name?.invalid && last_name?.touched" class="text-danger">
        <p class="text-danger" *ngIf="last_name?.errors?.required">
          the name is required
        </p>
        <p class="text-danger" *ngIf="last_name?.errors?.minlength">
          the name is less than 3 letters
        </p>
        <p class="text-danger" *ngIf="last_name?.errors?.maxlength">
          the name is more than 10 letters
        </p>
      </div>
    </div>
    <div class="my-3">
      <label> Age :</label>
      <input
        formControlName="age"
        type="text"
        class="form-control my-3"
        placeholder="25"
      />
      <div *ngIf="age?.invalid && age?.touched" class="text-danger">
        <p class="text-danger" *ngIf="age?.errors?.required">
          the age is required
        </p>
        <p class="text-danger" *ngIf="age?.errors?.min">
          the age is less than 20
        </p>
        <p class="text-danger" *ngIf="age?.errors?.max">
          the age is more than 50
        </p>
      </div>
    </div>
    <div class="my-3">
      <label> Email:</label>
      <input
        formControlName="email"
        type="email"
        class="form-control my-3"
        placeholder="example@gmail.com"
      />
      <div *ngIf="email?.invalid && email?.touched" class="text-danger">
        <p class="text-danger" *ngIf="email?.errors?.required">
          the email is required
        </p>
        <p class="text-danger" *ngIf="email?.errors?.email">
          this should be an email
        </p>
      </div>
    </div>
    <div class="my-3">
      <label> Password :</label>
      <input
        formControlName="password"
        type="password"
        class="form-control my-3"
        placeholder="*******"
      />
      <div *ngIf="password?.invalid && password?.touched" class="text-danger">
        <p class="text-danger" *ngIf="password?.errors?.required">
          the password is required
        </p>
        <p class="text-danger" *ngIf="password?.errors?.pattern">
          the pattern is wrong
        </p>
      </div>
    </div>
    <div class="">
      <button
        [disabled]="registerform.invalid"
        type="submit"
        class="btn btn-outline-info"
      >
        <span *ngIf="isloading"><i class="fas fa-spinner fa-spin"></i></span>
        <span *ngIf="!isloading">Submit</span>
      </button>

      <div class="ms-auto already text-capitalize" (click)="gotologin()">
        alreaady have an account ?log in...
      </div>
    </div>
    <!-- we will not make click event -->
  </form>
</div>
